<div class="animate fadeIn">
  <div ng-include="'views/components/document/document-request/approvalSummaryModal.html'"></div>
  <div ng-include="'views/components/document/document-request/approvalsListModal.html'"></div>
  <div ng-include="'views/components/document/document-request/approveDocumentModal.html'"></div>
  <div ng-include="'views/components/document/document-request/physicalFileModal.html'"></div>
  <div ng-include="'views/components/document/document-request/filesModal.html'"></div>
  <div ng-include="'views/components/document/document-request/deleteFileModal.html'"></div>

  <div class="row">
    <div class="col-sm-12">
      <a  class="btn btn-primary"  ui-sref-active="active" ui-sref="app.docs.history({id: selectedDocument._id})" title="Ver historial del documento" ng-show="selectedDocument._id">
        <i class="fa fa-eye" aria-hidden="true"/>  Ver Historial
      </a>

      <a  class="btn btn-info"  data-toggle="modal"  data-target="#approvalListModal" title="Ver lista de aprobaciones" ng-show="selectedDocument._id" style="color:white;" ng-click="createApprovalList()">
        <i class="fa fa-eye" aria-hidden="true"/>  Lista de aprobaciones
      </a>

      <a  class="btn btn-warning"  data-toggle="modal"  data-target="#approveDocumentModal" title="Aprobar o desaprobar documento" ng-show="canApprove" style="color:white;" ng-click="findApproval(e)">
        <i class="fa fa-check" aria-hidden="true"/>  Aprobar documento
      </a>

      <a  class="btn btn-secondary" ng-click="edit = !edit;" title="Ver historial del documento" ng-show="selectedDocument._id && selectedDocument.status !== 'Anulado'">
        <i class="fa fa-pencil" aria-hidden="true"/>  Editar
      </a>

      <a  class="btn btn-danger" ng-click="resetFlow()" title="Ver historial del documento" ng-show="selectedDocument._id && selectedDocument.status === 'Anulado'" style="color:white;">
        <i class="fa fa-rotate-left" aria-hidden="true"/>  Reiniciar flujo de aprobaciones
      </a>
    </div>
  </div>
  <form name="documentForm" class="row" enctype="multipart/form-data" ng-submit="saveDocument()">

    <div class="form-divider"></div>

    <div class="col-sm-12">
      <input type="submit" style="display: none;" id="documentFormBtn"/>
      <div class="col-sm-12">
        <label style="margin-bottom: 0px;">Estado: </label> 
        <h5>{{selectedDocument.status}}</h5>
      </div>
    </div>

    <div class="form-divider"></div>

    <div class="col-sm-7">
      <label for="docName">Nombre de documento o registro:</label>
      <input name="docName" type="text" class="form-control" placeholder="Nombre del documento o registro" ng-model="selectedDocument.name" required ng-disabled="!edit">
    </div>
    <div class="col-sm-2">
      <label for="version">Version vigente:</label>
      <input name="version" type="text" class="form-control" placeholder="Version vigente" ng-model="selectedDocument.publication.revision" ng-value="selectedDocument.publication.revision | numberFixedLen: 3" required ng-disabled="!client.documentaryCenterAdmin || !edit">
    </div>
    <div class="col-sm-3">
      <label for="priority">Prioridad:</label>
      <select name="priority" id="priority" class="form-control" ng-model="selectedDocument.priority" ng-options="item for item in priorities" required ng-disabled="!edit">
        <option value="">Seleccione una prioridad  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="form-divider"></div>
    <div class="col-sm-4">
      <label for="tipo">Tipo:</label>
      <select name="tipo" id="tipo" class="form-control" ng-model="selectedDocument.type" ng-options="item as item.type for item in docTypes track by item.type" required ng-disabled="!edit">
        <option value="">Seleccione un tipo  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="col-sm-4" ng-show="selectedDocument.type">
      <label>Solicitud <small ng-if="hidden">- Actual: ({{selectedDocument.request.key}})</small>:</label>
      <select name="request" class="form-control" ng-model="selectedDocument.request" ng-options="item as item.key for item in retrieveRequests() track by item.key" required ng-disabled="!edit">
        <option value="">Seleccione una solicitud  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="col-sm-4" ng-show="selectedDocument.type.blueprint">
      <label for="system">Sistema:</label>
      <select name="system" id="system" class="form-control" ng-model="selectedDocument.system" ng-options="item.system as item.system for item in systems" ng-change="updateImplication()" ng-disabled="!edit">
        <option value="">Seleccione un sistema  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="col-sm-4" ng-if="selectedDocument.type.blueprint && selectedDocument.system" ng-disabled="!edit">
      <label for="implication">Implicacion:</label>
      <select name="implication" id="implication" class="form-control"  ng-model="selectedDocument.implication" ng-options="item as item.implication for item in retrieveImplications() track by item.implication" ng-disabled="!edit">
        <option value="">Seleccione una implicacion  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="form-divider"></div>
    <div class="col-sm-4">
      <label for="business">Planta:</label>
      <select name="business" id="business" class="form-control" ng-model="selectedDocument.business" ng-options="item.business as item.business for item in business" required ng-disabled="!edit">
        <option value="">Seleccione una planta  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="col-sm-4">
      <label for="dept">Departamento:</label>
      <select name="dept" id="dept" class="form-control" ng-model="selectedDocument.department" ng-options="item.department as item.department for item in departments | filter: {business: selectedDocument.business}" required ng-disabled="!edit">
        <option value="">Seleccione una departamento  {{optional ? '(optional)' : ''}}</option>
      </select>
    </div>
    <div class="form-divider"></div>
    <div class="col-sm-3">
      <label for="requiredDate">Fecha requerida:</label>
      <datepicker date-format="yyyy-MM-dd">
        <input name="requiredDate" type="text" class="form-control" placeholder="Fecha requerida" ng-model="selectedDocument.requiredDate" required ng-disabled="!edit">
      </datepicker>
    </div>
    <div class="col-sm-3">
      <label>Periodo de revision (Meses):</label>
      <input name="periodExpirationTime" type="number" class="form-control" placeholder="Periodo de revision en meses" ng-model="selectedDocument.periodExpirationTime" ng-disabled="!edit" min="0">
    </div>
    <div class="col-sm-3">
      <label>Tiempo de almacenamiento (Meses):</label>
      <input name="timeStored" type="number" class="form-control" placeholder="Tiempo de almacenamiento en meses" ng-model="selectedDocument.timeStored" ng-disabled="!edit" min="0">
    </div>
    <div class="col-sm-3">
      <label for="reqSGIA" style="font-weight: bold;">Requiere revision de medioambiente:
        <input name="reqSGIA" type="checkbox" class="form-control" ng-model="selectedDocument.requiresSafetyEnv" ng-disabled="!edit">
      </label>
    </div>
    <div class="form-divider"></div>
    <div class="col-sm-4" ng-show="!selectedDocument._id">
      <label for="file">Adjuntar archivo: </label>
      <input type="file" ngf-select ng-model="files" ngf-multiple="true" multiple data-toggle="modal"  data-target="#filesModal">
    </div>
    
    <div class="col-sm-12 row-separator">
      <label for="comments">Comentario:</label>
      <textarea name="comments" id="comments" rows="5" class="form-control" ng-model="selectedDocument.comments" ng-disabled="!edit"></textarea>
    </div>
    <div class="col-sm-12">
      <button  class="btn btn-success" type="submit" ng-show="edit">
        <i class="fa fa-save" aria-hidden="true"/>  Guardar Documento
      </button>
    </div>
  </form>
  <!-- END FORM -->
  <div class="form-divider"></div>
  <div class="col-sm-12" ng-show="selectedDocument._id">
    <h4>Archivos Actuales</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>#</td>
          <td>Nombre</td>
          <td>Publicado</td>
          <td>
            <div class="fa fa-cloud-upload" aria-hidden="true" ngf-select ng-model="files" ngf-multiple="true" title="Subir document o registro electronico"
            data-toggle="modal"  data-target="#filesModal" ng-click="shouldResetFlow = true;"/>

            <div class="fa fa-upload" aria-hidden="true" ngf-select ng-model="files" ngf-multiple="true" title="Subir document o registro electronico sin reiniciar el flujo"
            data-toggle="modal"  data-target="#filesModal" ng-click="shouldResetFlow = false;" ng-show="client.documentaryCenterAdmin" style="margin-left: 1%;"/>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in selectedDocument.files">
          <td >{{$index + 1}}</td>
          <td>{{file.fileName}}</td>
          <td>{{file.published ? 'Si' : 'No'}}</td>
          <td>
            <span ng-if="file.path">
             <a href="#" ng-click="download(file.fileName,file.path)">Descarga</a>
             <label>|</label>
           </span>
           
           <i class="fa fa-trash" aria-hidden="true" ng-if="client.documentaryCenterAdmin" data-toggle="modal"  data-target="#deleteFileModal" ng-click="selectFile(file, $index)"></i>
         </td>
       </tr>
     </tbody>
   </table>
 </div>
 <div class="form-divider"></div>
 <div class="col-sm-12" ng-show="selectedDocument._id">
  <h4>Archivos Historicos</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>
          <div class="fa fa-cloud-upload" aria-hidden="true" ngf-select="uploadHistoricFiles()" ng-model="historicFiles" ngf-multiple="true" title="Subir document o registro electronico"/>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in selectedDocument.historicFiles">
        <td >{{$index + 1}}</td>
        <td>{{file.fileName}}</td>
        <td>
          <span ng-if="file.path">
           <a href="#" ng-click="download(file.fileName,file.path)">Descarga</a>
           <label>|</label>
         </span>

         <i class="fa fa-trash" aria-hidden="true" ng-if="client.documentaryCenterAdmin" ng-click="deleteHistoricFile(file)"></i>
       </td>
     </tr>
   </tbody>
 </table>
</div>
</div>
