<div class="animated fadeIn">

 <div id="alertArea"></div>

 <div class="row">

  <div class="input-group row-separator">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
  </div> 

   <div ng-show="documents.length < 1">
    <h5>No tiene documentos pendientes!</h5>
  </div>

  <table class="table table-hover table-responsive" ng-show="documents.length > 0">
    <thead>
      <tr>
       <td><strong>#</strong></td>
       <td><strong>Nombre</strong></td>
       <td><strong>Tipo</strong></td>
       <td><strong>Estado</strong></td>
       <td><strong>Departamento</strong></td>
       <td><strong>Prioridad</strong></td>
       <td><strong>Solicitante</strong></td>
       <td><strong>Fecha Solicitada</strong></td>
       <td><strong>Fecha Requerida</strong></td>
       <td><strong>Fecha de revision</strong></td>
       <td><strong>Fecha Creada</strong></td>
       <td></td>
     </tr>
   </thead>
   <tbody>
     <tr ng:repeat="e in documents | filter:search" >
       <td >{{$index + 1}}</td>
       <td>{{e.name}}</td>
       <td>{{e.type.type}}</td>
       <td>{{e.status}}</td>
       <td>{{e.department}}</td>
       <td>{{e.priority}}</td>
       <td>{{e.createdBy.username}}</td>
       <td>{{e.requestedDate | date: yyyy-mm-dd}}</td>
       <td>{{e.requiredDate | date: yyyy-mm-dd}}</td>
       <td>{{e.expiredDate | date: yyyy-mm-dd}}</td>
       <td>{{e.created | date: yyyy-mm-dd}}</td>
       <td>
         <i class="fa fa-trash" aria-hidden="true"  ng-click="deleteDocument(e._id)" ng-show="client.documentaryCenterAdmin"></i>
         <i class="fa fa-pencil" aria-hidden="true" style="margin-left:10px;"  ui-sref-active="active" ui-sref="app.docs.edit({id: e._id})"></i>
         <i class="fa fa-eye" aria-hidden="true" style="margin-left:10px;"  ui-sref-active="active" ui-sref="app.docs.history({id: e._id})" title="Ver historial del documento"></i>
       </td>
     </tr>
   </tbody>
 </table>

</div>
<!-- End .row -->
</div>
