<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Enersa - Gestor de Documentos">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Gestor de Documentos - ENERSA</title>

    <!-- Main styles for this application -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    <!-- User Interface -->
    <ui-view></ui-view>


    <!-- Compiled libs -->
    <script src="js/build/libs.min.js"></script>

    <!-- Compiled App JS -->
    <script src="js/build/app.min.js"></script>

    <script src="js/routes.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

</body>

</html>
