<div class="animated fadeIn" ng-controller="mainController" >
 <div id="alertArea"></div>

 <div class="row">
 <a ui-sref-active="active" ui-sref="app.survey-builder.create" class="btn btn-success row-separator">Nueva Encuesta</a>

   <div class="input-group row-separator">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
  </div> 
  <table class="table table-hover table-striped" style="margin-top:10px;">
    <thead>
      <tr>
       <td><strong>#</strong></td>
       <td><strong>Nombre de la encuesta</strong></td>
       <td><strong>Departamento</strong></td>
       <td><strong>Responsable</strong></td>
       <td><strong>Fecha Creada</strong></td>
       <td></td>
       <td></td>
     </tr>
     </thead>
     <tbody>
     <tr ng:repeat="e in surveys | filter:search">
       <td>{{$index + 1}}</td>
       <td>{{e.surveyName}}</td>
       <td>{{e.department}}</td>
       <td>{{e.responsible}}</td>
       <td>{{e.created | date: yyyy-mm-dd}}</td>
       <td><button class="btn btn-danger" ng-click="deleteSurvey(e._id)">Borrar </button></td>
       <td><a class="btn btn-primary" ui-sref-active="active" ui-sref="app.survey-builder.edit({id: e._id})">Editar </a></td>
     </tr>
   </tbody>
 </table>

</div>
<!-- End .row -->
</div>
