<div class="animated fadeIn" ng-controller="mainController" >
 <div id="alertArea"></div>

 <div ng-include="'views/components/survey-builder/actionPlanModal.html'"></div>
 <div ng-include="'views/components/survey/trackSurveyResponseModal.html'"></div>

 <div class="row">

   <button ui-sref-active="active" ui-sref="app.survey-builder.create" class="btn btn-success row-separator" style="margin-right:1em">Nueva Encuesta</button>
   
   <button class="btn btn-primary row-separator" ng-click="compareSurveys()">Comparar encuestas</button>
   

   <div class="input-group row-separator">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
  </div> 
  <table class="table table-hover " style="margin-top:10px;">
    <thead>
      <tr>
        <td></td>
        <td><strong>#</strong></td>
        <td><strong>Nombre de la encuesta</strong></td>
        <td><strong>Encuesta General</strong></td>
        <td><strong>Encuesta Activa</strong></td>
        <td><strong>Departamento</strong></td>
        <td><strong>Responsable</strong></td>
        <td><strong>Periodo</strong></td>
        <td><strong>Nota</strong></td>
        <td><strong>Fecha Creada</strong></td>
        <td><strong>Acciones</strong></td>
      </tr>
    </thead>
    <tbody>
     <tr ng:repeat="e in surveys | filter:search" >
      <td>
        <div class="checkbox">
        <label><input type="checkbox" ng-model="compSurveyChkbox"  ng-change="addToCompareSurvey(compSurveyChkbox, e)"></label>
        </div>
      </td>
      <td>{{$index + 1}}</td>
      <td>{{e.surveyName}}</td>
      <td>{{e.general ? 'Si' : 'No'}}</td>
      <td>{{e.active ? 'Si' : 'No'}}</td>
      <td>{{e.department}}</td>
      <td>{{e.responsible}}</td>
      <td>{{e.period.start | date: yyyy-mm-dd}} - {{e.period.end | date: yyyy-mm-dd}}</td>
      <td>{{(e.finalGrade ? e.finalGrade : 0) * 100 | number: 2}}%</td>
      <td>{{e.created | date: yyyy-mm-dd}}</td>
      <td style="width:14em;">
       <i class="fa fa-trash" aria-hidden="true"  ng-click="deleteSurvey(e._id)"></i>
       <i class="fa fa-pencil" aria-hidden="true" style="margin-left:10px;" ui-sref-active="active" ui-sref="app.survey-builder.edit({id: e._id})"></i>
       <i class="fa fa-bar-chart" aria-hidden="true" style="margin-left:10px;" ui-sref-active="active" ui-sref="app.survey-builder.stats({id: e._id})" title="Mostrar estadisticas de la encuesta"></i>
<!--        <i class="fa fa-map-o" aria-hidden="true" style="margin-left:10px;" data-toggle="modal" data-target="#actionPlanModal" ng-click="setActionPlan(e._id)" title="Generar plan de accion"></i> -->
       <i class="fa fa-users" aria-hidden="true" style="margin-left:10px;" data-toggle="modal"  data-target="#trackSurveyResponse" ng-click="trackSurvey(e._id)" title="Monitoreo de encuesta"></i>
     </td>
   </tr>
 </tbody>
</table>

</div>
<!-- End .row -->
</div>
