<div class="animated fadeIn" ng-init="retrieveServices()" ng-controller="surveyRelationsController">

 <div id="alertArea"></div>
<form name="relationForms" ng-submit="saveSurvey()">
  <div class="row-separator">
  <button class="btn btn-info" ng-click="goToBuilder()">Volver</button>
    <input type="submit" class="btn btn-success" value="Guardar"/>
  </div>

  <table class="table table-hover table-striped" >
    <tbody>
      <tr>
       <td><strong>#</strong></td>
       <td><strong>Pregunta</strong></td>
       <td><strong>Servicio</strong></td>
       <td><strong>Clientes</strong></td>
       <td></td>
       <td></td>
     </tr>
     <tr ng:repeat="e in survey.questions">
       <td>{{$index + 1}}</td>
       <td>{{e.title}}</td>
       <td>
       <select name="services" class="form-control" ng-model="e.service" ng-options="item.service as item.service for item in services" required>
       <option value="">Seleccione un servicio {{optional ? '(optional)' : ''}}</option>
         </select>
       </td>
        <td>
         <select  name="clients" class="form-control" ng-model="e.clients" ng-options="item for item in survey.clients" multiple required>
         </select>
       </td>
     </tr>
   </tbody>
 </table>
 </form>
</div>
