<div class="modal fade" id="surveyQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="questionsForm" ng-submit="addQuestionToList(false)" class="col-sm-12">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Pregunta #{{newQuestion.update ? updateText : survey.questions.length+1}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-2 modal-legend" >
           <strong>Acciones: </strong>
           <i class="fa fa-copy" style="margin-right:5%;" ng-click="copyQuestion()" title="Copiar pregunta"></i>
           <i class="fa fa-paste" ng-click="pasteQuestion()" title="Pegar pregunta"></i>
         </div>
         <div class="col-md-10">
          <div class="row row-separator">
            <div class="col-sm-12">
              <input ng-model="newQuestion.title" name="questionTitle" class="form-control" type="text" placeholder="Titulo de pregunta" required/>
            </div>

          </div>

          <div class="row row-separator">
            <div class="col-sm-8">
              <select ng-model="newQuestion.formType" ng-change="onQuestionTypeChange()" class="form-control" name="questionFormType" required>
                <option value="">Seleccione un tipo de pregunta</option>
                <option value="text">Respuesta corta</option>
                <option value="checkbox">Casillas de verificacion</option>
                <option value="dropdown">Desplegable</option>
                <option value="radiogroup">Seleccion Multiple</option>
                <option value="comment">Parrafo</option>
                <option value="rating">Escala Lineal</option>
              </select>
            </div>
            <div class="col-sm-4">
              <div class="checkbox" style="color:red">
                <label>
                  <input type="checkbox" value="true" ng-model="newQuestion.isRequired">Requerido</label>
                </div>
              </div>
            </div>

            <!-- Informacion de las opciones -->
            <div class="row row-separator " ng-show="newQuestion.showChoices">
              <div class="col-sm-4 row-separator">
                <select id="choicesSelect" class="form-control" ng-model="choices.number" ng-options="item for item in choiceOptions" name="questionChoiceOpts" ng-required="newQuestion.showChoices">
                  <option value=""># de opciones {{optional ? '(optional)' : ''}}</option>
                </select>
              </div>
              <div class="col-sm-8">
                <div ng-repeat="n in [] | range:choices.number" class="row row-separator">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Opcion" ng-model="selectedChoices[$index].text" name="option-$index" ng-required="newQuestion.showChoices">
                    <span class="input-group-addon">-</span>
                    <input type="number" class="form-control" placeholder="Valor (0%)" ng-model="selectedChoices[$index].value" name="value-$index" ng-required="newQuestion.showChoices" step='10' min="0" max="100">
                  </div>
                </div>
              </div>
                  <div class="alert alert-info" style="margin-left:1em">
                  <i class="fa fa-info-circle" aria-hidden="true"></i><strong> Informacion de valor por opcion</strong>
              <p> El campo <strong>valor</strong> es un porcentaje basado en 100.</p>
            </div>
            </div>


            <!-- End Question Options -->
            <!-- Escala lineal -->
            <div class="col-sm-12" ng-show="newQuestion.formType === 'rating'">
              <div class="row row-separator">
                <div class="input-group row-separator">
                  <select class="form-control" ng-model="linearScale.selectedStart" ng-options="item for item in linearScaleStart"></select>
                  <span class="input-group-addon">hasta</span>
                  <select class="form-control" ng-model="linearScale.selectedEnd" ng-options="item for item in linearScaleEnd"></select>
                </div>

                <div class="input-group">
                 <span class="input-group-addon">{{linearScale.selectedStart}}</span><input type="text" class="form-control" placeholder="Etiqueta (Opcional)" ng-model="linearScale.minRateDescr">
                 <span class="input-group-addon"></span>
                 <input type="text" class="form-control" placeholder="Etiqueta (Opcional)" ng-model="linearScale.maxRateDescr">
                 <span class="input-group-addon">{{linearScale.selectedEnd}}</span>
               </div>
             </div>
           </div>
         </div>



       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">
         <i class="fa fa-save" aria-hidden="true"/> Guardar pregunta
       </button>
     </div>
   </form>
 </div>
</div>
</div>
