<div class="animated fadeIn">
  <div ng-include="'views/components/survey-builder/actionPlanModal.html'"></div>
  
  <div class="md-toolbar-tools custom-md-toolbar">
   <h5 ng-show="isComparing">Comparando encuestas</h5>
   
   <h5 ng-hide="isComparing">{{survey.surveyName}}</h5>
   &nbsp;
   <h5 class="small" ng-hide="isComparing">({{totalResponses}} respuestas)</h5>
   <span flex class="flex"></span>
   <i class="fa fa-print" aria-hidden="true" style="margin-left:10px;" title="Imprimir todos los graficos" ng-click="print()"></i>
   <i class="fa fa-file-excel-o" aria-hidden="true" style="margin-left:10px;" ng-click="exportAllResponses()"  title="Exportar todas las respuestas" ng-hide="isComparing"></i>
   <i class="fa fa-map-o" aria-hidden="true" style="margin-left:10px;" data-toggle="modal" data-target="#actionPlanModal" ng-hide="isComparing" title="Generar plan de accion"></i>
 </div>

 <md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Resultado General">
      <div class="card custom-chart-radar">
        <div class="card-header">
         <i class="fa fa-asterisk icon-bg"></i>Resultado general por servicio <strong ng-hide="isComparing">({{finalGrade * 100 | number: 2 }}%)</strong>
       </div>
       <div class="card-block" >
         <canvas  class="chart chart-radar" chart-data="radarGraph.data" chart-labels="radarGraph.labels" chart-options="radarOptions" chart-series="radarGraph.series"></canvas>
       </div>
     </div>
   </md-tab>

   <md-tab label="Clientes" data-ng-if="client.role.level === 1 || client.role.level === 2">
     <div class="col-sm-12" ng-repeat="(key, value) in clients">
       <strong>{{key}}</strong>
       <table class="table table-hover">
         <tbody>
         <tr ng-repeat="userResponse in value">
         <td>{{userResponse.username}}</td>
           </tr>
         </tbody>
       </table>
     </div>
   </md-tab>

   <md-tab  ng-repeat="service in services" label="{{service.service}} - ({{service.charts.length}} preguntas)" >
    <md-content class="md-padding">
      <div class="card" style="width:50%" ng-repeat="e in service.charts">

        <div class="card-header">
          <i class="fa fa-asterisk icon-bg"></i>{{e.question}}<p ng-show="!isComparing">- <strong>{{e.average}}% ({{e.responses}} respuestas)</strong></p>
        </div>
        <div class="card-block" >

          <canvas ng-if="showChartType(e.formType, 'bar')" class="chart chart-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options" chart-series="e.series" chart-colors="e.colors" data-service="{{service.service}}" data-question="{{e.question}}" data-result="{{e.average}}% ({{e.responses}} respuestas)">
          </canvas>

          <canvas ng-if="showChartType(e.formType, 'pie')" class="chart chart-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options" chart-series="e.series" chart-colors="e.colors" data-service="{{service.service}}" data-question="{{e.question}}" data-result="{{e.average}}% ({{e.responses}} respuestas)">
          </canvas>

          <canvas ng-if="showChartType(e.formType, 'horizontal-bar')" class="chart chart-horizontal-bar" chart-data="e.data" chart-labels="e.labels" chart-options="horizontalBarOptions" chart-series="e.series" chart-colors="e.colors" data-service="{{service.service}}" data-question="{{e.question}}" data-result="{{e.average}}% ({{e.responses}} respuestas)">
          </canvas>

          <div class="col-sm-5" ng-show="isComparing">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td ng:repeat="text in e.series track by $index">{{text}}</td>
                </tr>
              </thead>
              <tbody>
               <tr>
                 <td ng:repeat="text in e.compareAverages track by $index">{{text ? text : 0}}%</td>
               </tr>
             </tbody>
           </table>
         </div>

         <div ng-if="showChartType(e.formType, 'text')" >
           <table class="table table-hover">
             <tbody>
               <tr ng:repeat="text in e.labels track by $index">
                 <td>{{text}}</td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>

     </div>
   </md-content>
 </md-tab>

</md-tabs>
</md-content>
</div>








<!-- <div class="card" ng-repeat="e in charts">
  <div class="card-header">
    <i class="fa fa-asterisk icon-bg"></i>{{e.question}}

  </div>
  <div class="card-block" >

    <canvas ng-if="showChartType(e.formType, 'bar')" class="chart chart-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options">
    </canvas>
    <canvas ng-if="showChartType(e.formType, 'pie')" class="chart chart-pie" chart-data="e.data" chart-labels="e.labels" chart-options="pieOptions">
    </canvas>
    <canvas ng-if="showChartType(e.formType, 'horizontal-bar')" class="chart chart-horizontal-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options">
    </canvas>
    <div ng-if="showChartType(e.formType, 'text')" >
     <table class="table table-hover">
       <tbody>
         <tr ng:repeat="text in e.labels">
           <td>{{text}}</td>
         </tr>
       </tbody>
     </table>
   </div>


 </div>
</div> -->

</div>
