<div class="animated fadeIn">

  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Resultado General">
        <div class="card" style="width:100%;">
          <div class="card-header">
           <i class="fa fa-asterisk icon-bg"></i>Resultado general por servicio 
         </div>
         <div class="card-block" >
           <canvas  class="chart chart-radar" chart-data="radarGraph.data" chart-labels="radarGraph.labels" chart-options="radarOptions"></canvas>
         </div>
       </div>
     </md-tab>
     <md-tab  ng-repeat="service in services" label="{{service.service}} - ({{service.charts.length}})">
      <md-content class="md-padding">
        <div class="card" ng-repeat="e in service.charts">
          <div class="card-header">
            <i class="fa fa-asterisk icon-bg"></i>{{e.question}}
          </div>
          <div class="card-block" >

            <canvas ng-if="showChartType(e.formType, 'bar')" class="chart chart-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options">
            </canvas>

            <canvas ng-if="showChartType(e.formType, 'pie')" class="chart chart-pie" chart-data="e.data" chart-labels="e.labels" chart-options="pieOptions">
            </canvas>

            <canvas ng-if="showChartType(e.formType, 'horizontal-bar')" class="chart chart-horizontal-bar" chart-data="e.data" chart-labels="e.labels" chart-options="horizontalBarOptions">
            </canvas>

            <div ng-if="showChartType(e.formType, 'text')" >
             <table class="table table-hover">
               <tbody>
                 <tr ng:repeat="text in e.labels">
                   <td>{{text}}</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>

       </div>
     </md-content>
   </md-tab>
 </md-tabs>
</md-content>
</div>








<!-- <div class="card" ng-repeat="e in charts">
  <div class="card-header">
    <i class="fa fa-asterisk icon-bg"></i>{{e.question}}

  </div>
  <div class="card-block" >

    <canvas ng-if="showChartType(e.formType, 'bar')" class="chart chart-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options">
    </canvas>
    <canvas ng-if="showChartType(e.formType, 'pie')" class="chart chart-pie" chart-data="e.data" chart-labels="e.labels" chart-options="pieOptions">
    </canvas>
    <canvas ng-if="showChartType(e.formType, 'horizontal-bar')" class="chart chart-horizontal-bar" chart-data="e.data" chart-labels="e.labels" chart-options="options">
    </canvas>
    <div ng-if="showChartType(e.formType, 'text')" >
     <table class="table table-hover">
       <tbody>
         <tr ng:repeat="text in e.labels">
           <td>{{text}}</td>
         </tr>
       </tbody>
     </table>
   </div>


 </div>
</div> -->

</div>
