<div class="animated fadeIn">

  <div id="alertArea"></div>

  <div ng-include="'views/components/admin/modals/implicationsModal.html'"></div>

  <div class="row">
    <div class="col-md-12 hide-print">

     <div class="input-group row-separator">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
    </div>      

    <button type="button" class="btn btn-info row-separator" ng-click="newImplication()" data-toggle="modal" data-target="#implicationsModal">
     <i class="fa fa-plus" aria-hidden="true"/> Nueva implicacion
   </button>

   <button type="button" class="btn btn-secondary row-separator" onClick="window.print()" style="margin-left: 1%;">
     <i class="fa fa-print" aria-hidden="true"/> Imprimir
   </button>
   
 </div>

 <table class="table table-hover table-responsive" id="adminTable">
  <thead>
    <tr>
     <td><strong>#</strong></td>
     <td><strong>Implicacion</strong></td>
     <td><strong>Fecha Creada</strong></td>
     <td><strong>Acciones</strong></td>
   </tr>
 </thead>
 <tbody>
   <tr ng:repeat="e in implications | filter:search">
     <td>{{$index + 1}}</td>
     <td>{{e.implication}}</td>
     <td>{{e.created | date: 'yyyy-MM-dd'}}</td>
     <td>
       <i class="fa fa-trash" aria-hidden="true"  ng-click="deleteImplication(e._id)"></i>
       <i class="fa fa-pencil" aria-hidden="true" style="margin-left:10px;" ng-click="updateImplication(e._id)" data-toggle="modal" data-target="#implicationsModal"></i>
     </td>
   </tr>
 </tbody>
</table>
</div>
<!-- /.row -->
</div>
