// Here you can add other styles
.row-separator{
  margin-bottom: 1.5%;
}

.form-divider{
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.error-message{
  color: red;
}

.survey-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 3%;
}
.no-width{
  width: 0%;
}
.table td{
  text-align:center;
}
.table thead{
  background-color: #263238;
  color:white;
}
.table tbody{
  background-color: #ffffff;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}
.modal{
  background-color: rgba(0, 0, 0, 0.5);
  top: 4%;
}
.modal-backdrop{
  position: relative;
}
