// Here you can add other styles
.row-separator{
  margin-bottom: 1.5%;
}

.form-divider{
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.error-message{
  color: red;
}
