<div class="animated fadeIn" ng-controller="surveyController" >

 <div id="alertArea"></div>

 <div class="row">

  <div class="input-group row-separator">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
  </div>  

   <div ng-show="surveys.length < 1">
    <h5>No tiene encuestas asignadas o disponibles!</h5>
  </div>
  <table class="table table-hover table-responsive" ng-show="surveys.length > 0" style="margin-top:10px;">
    <thead>
      <tr>
       <td><strong>#</strong></td>
       <td><strong>Nombre de la encuesta</strong></td>
       <td><strong>Departamento</strong></td>
       <td><strong>Responsable</strong></td>
       <td><strong>Periodo</strong></td>
       <td><strong>Fecha Creada</strong></td>
       <td></td>
     </tr>
     </thead>
     <tbody>
     <tr ng:repeat="e in surveys | filter:search | orderBy:['!active', 'completed']" ng-class="{'danger' : !e.active, 'success' : e.active, 'completed' : respondedSurvey(e)}">
       <td >{{$index + 1}}</td>
       <td>{{e.surveyName}}</td>
       <td>{{e.department}}</td>
       <td>{{e.responsible}}</td>
       <td>{{e.period.start | date: yyyy-mm-dd}} - {{e.period.end | date: yyyy-mm-dd}}</td>
       <td>{{e.created | date: yyyy-mm-dd}}</td>
       <td><button class="btn" ng-class="{'btn-primary' : e.completed, 'btn-success' : !e.completed}" ui-sref-active="active" ui-sref="app.surveys.handler({id: e._id, client: client.username})" ng-disabled="!e.active || (e.completed && e.uniqueResponses)">{{e.completed ? 'Completado' : 'Realizar'}} </button></td>
     </tr>
   </tbody>
 </table>

</div>
<!-- End .row -->
</div>
