<div class="animated fadeIn" ng-controller="surveyController" >

 <div id="alertArea"></div>

 <div class="row">

  <div class="input-group row-separator">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
  </div>  

  <table class="table table-hover" style="margin-top:10px;">
    <thead>
      <tr>
       <td><strong>#</strong></td>
       <td><strong>Nombre de la encuesta</strong></td>
       <td><strong>Departamento</strong></td>
       <td><strong>Responsable</strong></td>
       <td><strong>Fecha Creada</strong></td>
       <td></td>
     </tr>
     </thead>
     <tbody>
     <tr ng:repeat="e in surveys | filter:search">
       <td>{{$index + 1}}</td>
       <td>{{e.surveyName}}</td>
       <td>{{e.department}}</td>
       <td>{{e.responsible}}</td>
       <td>{{e.created | date: yyyy-mm-dd}}</td>
       <td><a class="btn btn-success" ui-sref-active="active" ui-sref="app.surveys.handler({id: e._id, client: 'admin'})">Realizar </a></td>
     </tr>
   </tbody>
 </table>

</div>
<!-- End .row -->
</div>
