<div class="modal fade" id="approvalListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lista de aprobaciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <div ng-if="selectedDocument.type.blueprint">
      <h6>Lista de autorizaciones - {{selectedDocument.flow.blueprintApproved ? 'Aprobado' : 'No Aprobado'}}</h6>
    </div>
     <div ng-repeat="e in selectedDocument.implication.authorization" ng-if="selectedDocument.type.blueprint">
       <p class="lead">
         {{e.username}}
       </p>
     </div>
     <div ng-repeat="(key, value) in selectedDocument.type.flow[selectedDocument.business].approvals">
       <h6>{{convertApproval(key)}}</h6>

       <div ng-if="key === 'deptBoss'">
         <div ng-repeat="item in value[selectedDocument.department]">
           <p class="lead">
             {{item.username}}
           </p>
         </div>
       </div>
       <div ng-if="key !== 'deptBoss'">
         <div ng-repeat="item in value">
           <p class="lead">
             {{item.username}}
           </p>
         </div>
       </div>
     </div>
     <p class="small"><strong>Nota:</strong> Las aprobaciones dependen del tipo de documento. Se pueden mostrar varias usuarios, pero no signfica que todos deban de aprobar, excepto para la lista de autorizaciones.</p>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>
