<div class="animated fadeIn">

 <div class="card" style="width: 25rem;margin-left:1em;"  ng:repeat="e in documentHistory.history | orderBy : created : true">
  <div class="card-header">
    <td>Cambio {{documentHistory.history.length - ($index + 1)}}</td>
  </div>
  <div class="card-block">
    <h4 class="card-title"></h4>
    <p class="card-text" ng-show='!e.list && !e.value'> <strong>{{translateField(e.field)}}</strong> de <strong>{{e.removed}}</strong> a <strong>{{e.added}}</strong></p>
    <p class="card-text" ng-show='e.list && e.value'> Se <strong>{{retrieveValue(e)}}</strong> un <strong>{{translateField(e.field)}}</strong> </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item small">Cambiado el {{e.created |  date: 'yyyy-MM-dd hh:mm:ss a'}} por {{e.user}}</li>
    </ul>
  </div>
</div>


</div>
