<div class="animated fadeIn"> 

 <div id="alertArea"></div>
 <div ng-include="'views/components/document/document-request/filesModal.html'"></div>

 <div class="row">
   <div class="col-sm-12 row-separator">
     <h5><strong>Paso 1.</strong> Seleccionar archivo de excel</h5>
     <input type="file" ngf-select="retrieveToMigrateDoucments()" ng-model="excel" data-toggle="modal" ngf-pattern="'.xls,.xlsx'" accept=".xls, .xlsx">
   </div>

   <div class="col-sm-12" ng-show="convertedItems.length > 0">
     <h5><strong>Paso 2.</strong> Subir las imagenes por cada documento. <small>Una vez las imagenes se han seleccionado, se salvan dentro del sistema.</small></h5>
   </div>

   <table class="table table-hover table-responsive" ng-show="convertedItems.length > 0">
    <thead>
      <tr>
       <td><strong>#</strong></td>
       <td>
         <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          <strong>Nombre del documento</strong>
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
       <a href="#" ng-click="sortType = 'business'; sortReverse = !sortReverse">
         <strong>Planta</strong>
         <span ng-show="sortType == 'business' && !sortReverse" class="fa fa-caret-down"></span>
         <span ng-show="sortType == 'business' && sortReverse" class="fa fa-caret-up"></span>
       </a>
     </td>
     <td>
      <a href="#" ng-click="sortType = 'type.type'; sortReverse = !sortReverse">
       <strong>Tipo</strong>
       <span ng-show="sortType == 'type.type' && !sortReverse" class="fa fa-caret-down"></span>
       <span ng-show="sortType == 'type.type' && sortReverse" class="fa fa-caret-up"></span>
     </a>
   </td>
   <td>
     <a href="#" ng-click="sortType = 'publication.code'; sortReverse = !sortReverse">
      <strong>Codigo</strong>
      <span ng-show="sortType == 'publication.code' && !sortReverse" class="fa fa-caret-down"></span>
      <span ng-show="sortType == 'publication.code' && sortReverse" class="fa fa-caret-up"></span>
    </a>
  </td>
  <td>
   <a href="#" ng-click="sortType = 'publication.revision'; sortReverse = !sortReverse">
    <strong>Revision</strong>
    <span ng-show="sortType == 'publication.revision' && !sortReverse" class="fa fa-caret-down"></span>
    <span ng-show="sortType == 'publication.revision' && sortReverse" class="fa fa-caret-up"></span>
  </a>
</td>
<td>
 <a href="#" ng-click="sortType = 'publication.publicationDate'; sortReverse = !sortReverse">
   <strong>Fecha de publicacion</strong>
   <span ng-show="sortType == 'publication.publicationDate' && !sortReverse" class="fa fa-caret-down"></span>
   <span ng-show="sortType == 'publication.publicationDate' && sortReverse" class="fa fa-caret-up"></span>
 </a>
</td>
<td>
 <a href="#" ng-click="sortType = 'timeStored'; sortReverse = !sortReverse">
  <strong>Tiempo de almacenamiento</strong>
  <span ng-show="sortType == 'timeStored' && !sortReverse" class="fa fa-caret-down"></span>
  <span ng-show="sortType == 'timeStored' && sortReverse" class="fa fa-caret-up"></span>
</a>
</td>
<td>
 <a href="#" ng-click="sortType = 'expiredDate'; sortReverse = !sortReverse">
   <strong>Fecha de revision</strong>
   <span ng-show="sortType == 'expiredDate' && !sortReverse" class="fa fa-caret-down"></span>
   <span ng-show="sortType == 'expiredDate' && sortReverse" class="fa fa-caret-up"></span>
 </a>
</td>
<td>
</td>
<td></td>
</tr>
</thead>
<tbody>
  <tr ng:repeat="e in convertedItems  | orderBy:sortType:sortReverse" ng-class="{'success' : results[e.name], 'danger' : !results[e.name]}">
   <td >{{$index+1}}</td>
   <td>{{e.name}}</td>
   <td>{{e.business}}</td>
   <td>{{e.type ? e.type.type : e.type}}</td>
   <td>
     {{e.publication.code}}
   </td>
   <td>
    {{e.publication.revision}}
  </td>
  <td>{{e.publication.publicationDate | date: 'yyyy/MM/dd'}}</td>
  <td>
    {{e.timeStored ? e.timeStored + ' meses': 'Indefinido'}}
  </td>
  <td>{{e.expiredDate ? e.expiredDate : 'Indefinido' | date: 'yyyy/MM/dd'}}</td>
  <td>
   <label >Adjuntar archivo: </label>
   <input type="file" ngf-select ng-model="files" ngf-multiple="true" multiple data-toggle="modal"  data-target="#filesModal" ng-change="assignFiles(e, files)">
 </td>
 <td>
  <button  class="btn btn-success" type="submit" ng-click="saveDoc(e)">
    <i class="fa fa-save" aria-hidden="true"/>  Migrar sin archivo
  </button>
</td>
</tr>
</tbody>
</table>

</div>
<!-- End .row -->
</div>
