<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" ui-sref="app.main"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>

        <li class="nav-item px-1">
            <a class="nav-link" ui-sref="app.main">Dashboard</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link" ui-sref="app.admin.clients">Clientes</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link" ui-sref="app.admin.business">Empresas</a>
        </li>
        <li class="nav-item px-1">
        <a class="nav-link" ui-sref="app.admin.departments">Departamentos</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto hidden-md-down">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="hidden-md-down">admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>

                <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>
