<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

         <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.docs.main"><i class="fa fa-hdd-o"></i>Centro Documental</a>
        </li>

        <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.docs')}" >
            <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.docs')}" href="#"><i class="fa fa-laptop"></i>Solicitud de documentos o registros nuevos</a>
            <ul class="nav-dropdown-items">
             <li class="nav-item" >
                 <a class="nav-link" ui-sref-active="active" ui-sref="app.docs.request"><i class="fa fa-table"></i> Mis solicitudes</a>
             </li>
             <li class="nav-item" >
                <a class="nav-link" ui-sref-active="active" ui-sref="app.docs.pending"><i class="fa fa-table"></i> Pendientes</a>
            </li>
            
        </ul>
    </li>
    
    <li class="form-divider" style="height:1px;"></li>

    <li class="nav-item" ng-show="client.role.level  < 3">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Tablero de encuestas </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.surveys.main"><i class="fa fa-newspaper-o"></i>Ver Encuestas</a>
    </li>
    
    <li class="form-divider" style="height:1px;"></li>

    <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.admin')}" ng-show="client.role.level === 1 || client.role.level === 2 || client.documentaryCenterAdmin">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.admin')}" href="#"><i class="fa fa-cogs"></i> Administrador</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item" ng-show="client.role.level === 1">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.clients"><i class="fa fa-users"></i> Clientes/Usuarios</a>
            </li>
            <li class="nav-item" ng-show="client.role.level === 1">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.business"><i class="fa fa-industry"></i> Empresas</a>
            </li>
            <li class="nav-item" ng-show="client.role.level === 1">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.departments"><i class="fa fa-university"></i> Departamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.services"><i class="fa fa-tasks"></i> Servicios</a>
            </li>
            <li class="nav-item" ng-show="client.role.level === 1">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.jobs"><i class="fa fa-level-up"></i> Posiciones de Trabajo</a>
            </li>
            <li class="nav-item" ng-show="client.documentaryCenterAdmin">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.doctypes"><i class="fa fa-archive"></i>Tipo de documentos</a>
            </li>
             <li class="nav-item" ng-show="client.documentaryCenterAdmin">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.requesttypes"><i class="fa fa-ticket"></i>Tipo de solicitud</a>
            </li>
              <li class="nav-item" ng-show="client.documentaryCenterAdmin">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.docStatus"><i class="fa fa-globe"></i>Estado de aprobaciones</a>
            </li>
            <li class="nav-item" ng-show="client.documentaryCenterAdmin">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.systems"><i class="fa fa-cube"></i> Sistemas</a>
            </li>
            <li class="nav-item" ng-show="client.documentaryCenterAdmin">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.implications"><i class="fa fa-flash"></i> Implicaciones</a>
            </li>
        </ul>
    </li>


</ul>

</nav>
</div>
