<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <!-- If not regular user -->
            <li class="nav-item" ng-show="client.role.level  < 3">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Tablero de encuestas </a>
            </li>
          <!--   <li class="divider"></li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.docs')}" >
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.docs')}" href="#"><i class="fa fa-hdd-o"></i> Centro Documental</a>
                <ul class="nav-dropdown-items">
                   <li class="nav-item" >
                   <a class="nav-link" ui-sref-active="active" ui-sref="app.docs.main"><i class="fa fa-table"></i> Mis documentos</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.docs.pending"><i class="fa fa-table"></i> Pendientes</a>
                </li>
                  <li class="nav-item" >
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.docs.search"><i class="fa fa-search"></i> Busqueda de documentos/registros</a>
                </li>
            </ul>
        </li> -->
        <li class="divider"></li>
        <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.admin')}" ng-show="client.role.level === 1 || client.role.level === 2">
            <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.admin')}" href="#"><i class="fa fa-cogs"></i> Administrador</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.clients"><i class="fa fa-users"></i> Clientes/Usuarios</a>
                </li>
                <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.business"><i class="fa fa-industry"></i> Empresas</a>
                </li>
                <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.departments"><i class="fa fa-university"></i> Departamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.services"><i class="fa fa-tasks"></i> Servicios</a>
                </li>
                <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.jobs"><i class="fa fa-level-up"></i> Posiciones de Trabajo</a>
                </li>
  <!--               <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.doctypes"><i class="fa fa-archive"></i>Tipo de documentos</a>
                </li>
                  <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.systems"><i class="fa fa-cube"></i> Sistemas</a>
                </li>
                  <li class="nav-item" ng-show="client.role.level === 1">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.admin.implications"><i class="fa fa-flash"></i> Implicaciones</a> -->
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.surveys.main"><i class="fa fa-newspaper-o"></i>Ver Encuestas</a>
        </li>
    </ul>

</nav>
</div>
