<div class="modal fade" id="documentStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form name="jobForm" class="form-group" ng-submit="save()">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Estado de documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Estado de documento:</label>
        <input type="text" class="form-control" ng-model="selectedDocumentStatus.status" no-special-char required>
        <br/>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button  class="btn btn-success" type="submit">
           <i class="fa fa-save" aria-hidden="true"/>  Guardar estado de documento
         </button>
       </div>
     </form>
   </div>
 </div>
</div>
