<div class="modal fade" id="jobsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form name="jobForm" class="form-group" ng-submit="saveJob()">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Puesto/Posicion de Trabajo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="job">Puestos o posiciones de trabajo:</label>
        <input type="text" id="job" class="form-control" ng-model="selectedJob.job" no-special-char required>
        <br/>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button  class="btn btn-success" type="submit">
           <i class="fa fa-save" aria-hidden="true"/>  Guardar Posicion de Trabajo
         </button>
       </div>
     </form>
   </div>
 </div>
</div>
