<div class="modal fade" id="systemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form name="businessForm" class="form-group" ng-submit="saveSystem()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sistema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <label for="system">Sistema:</label>
       <input type="text" id="system" class="form-control" ng-model="selectedSystem.system" required>
       <br/>
       <label for="implication">Implicacion:</label>
       <select id="implication" name="implication" class="form-control" ng-model="selectedSystem.implications" ng-options="item as item.implication for item in implications track by item._id" required multiple>
       </select>
       <br/>

    <h5>Lista de autorizaciones por implicacion</h5>

       <div ng-repeat="item in selectedSystem.implications" class="row-separator">
         <strong>{{item.implication}}</strong>
          <select type="text" class="form-control" ng-model="selectedSystem.implications[$index].authorization" name="option-$index" ng-options="item as item.username for item in clients track by item._id" multiple required>
          </select>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button  class="btn btn-success" type="submit">
          <i class="fa fa-save" aria-hidden="true"/>  Guardar Sistema
        </button>
      </div>
    </form>
  </div>
</div>
</div>
