<div class="modal fade" id="systemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form name="businessForm" class="form-group" ng-submit="saveSystem()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sistema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <label for="system">Sistema:</label>
       <input type="text" id="system" class="form-control" ng-model="selectedSystem.system" no-special-char required>
       <br/>
       <label for="implication">Implicacion:</label>
       <select id="implication" name="implication" class="form-control" ng-model="selectedSystem.implications" ng-options="item as item.implication for item in implications track by item._id" required multiple>
       </select>
       <br/>

       <div class="row">

         <div class="col-sm-10">
          <h5>Lista de autorizaciones por implicacion</h5>  
        </div>

        <div class="col-sm-2" style="text-align: right;">
          <i class="fa fa-copy" ng-click="copyImplications()" title="Copiar todas las implicaciones"></i>
          <i class="fa fa-paste"  ng-click="pasteImplications()" title="Pegar implicaciones" ng-if="implicationCopy"></i>
        </div>

        <div class="col-sm-12">
          <strong>Empresa:</strong>
          <select type="text" class="form-control" placeholder="Opcion" ng-model="selectedBusiness" ng-options="item.business as item.business for item in business track by item._id">
            <option value="">Seleccione una empresa {{optional ? '(optional)' : ''}}</option>
          </select>

          <div ng-repeat="item in selectedSystem.implications" class="row-separator" ng-if="selectedBusiness">
           <strong>{{item.implication}}</strong>
           <md-select placeholder="Seleccione usuarios" ng-model="selectedSystem.implications[$index].authorization[selectedBusiness]" name="option-$index" ng-model-options="{trackBy: '$value._id'}"  class="form-control md-no-underline" required multiple>
             <md-option ng-repeat="item in clients | filter: {business: selectedBusiness}" ng-value="{_id: item._id, username: item.username}">{{item.username}}</md-option>
           </md-select>
         </div>
       </div>
     </div>

     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button  class="btn btn-success" type="submit">
        <i class="fa fa-save" aria-hidden="true"/>  Guardar Sistema
      </button>
    </div>
  </form>
</div>
</div>
</div>
