<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog big-modal" role="document">
  <div class="modal-content" ng-controller="changePasswordController">
      <form name="profileForm" class="form-group" ng-submit="changePassword()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cambiar contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="col-sm-6">
            <label for="oldPassword">Contraseña vieja</label>
            <input class="form-control" type="password" name="oldPassword" ng-model="passwords.oldPassword" required/>
            <div ng-messages="profileForm.oldPassword.$error" class="text-danger">
             <div ng-message="required">Este campo es requerido</div>
           </div>

         </div>
         
         <div class="col-sm-12">
           <label for="oldPassword">Contraseña Nueva</label>
           <input class="form-control" type="password" name="newPassword" ng-model="passwords.newPassword" required/>
           <div ng-messages="profileForm.newPassword.$error" class="text-danger">
             <div ng-message="required">Este campo es requerido</div>
           </div>


           <label for="oldPassword">Re-escriba Contraseña</label>
           <input type="password" name="confirmPassword" 
           ng-model="passwords.confirmPassword"
           required 
           compare-to="passwords.newPassword" 
           class="form-control" />

           <div ng-messages="profileForm.confirmPassword.$error" class="text-danger"> 
             <div ng-message="required">Este campo es requerido</div>
             <div ng-message="compareTo">Este campo debe ser igual al anterior</div>
           </div>
         </div>

       </div>
       <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button  class="btn btn-success" type="submit">
          <i class="fa fa-save" aria-hidden="true"/>  Guardar 
        </button>
      </div>
    </form>
  </div>
</div>
</div>
