<div class="animated fadeIn">
 <div id="alertArea"></div>

 <div class="row" ng-controller="clientsController" ng-submit="saveClient()">
  <form name="clientForm" class="form-group">
   <label for="username">Usuario:</label>
   <input type="text" id="username" class="form-control" ng-model="selectedClient.username" required><br>
   <label for="password">Contraseña:</label>
   <input type="password" id="password" class="form-control" ng-model="selectedClient.password" required><br/>
   <label for="role">Role:</label>
   <select class="form-control" ng-model="selectedClient.role" ng-options="item.role for item in roles track by item.role">
    <option value="">Seleccione un rol {{optional ? '(optional)' : ''}}</option>
  </select>
  <br/>
  <input type="submit" class="btn btn-success"/>
</form>

<div class="input-group row-separator">
  <div class="input-group-addon"><i class="fa fa-search"></i></div>
  <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
</div>   

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <td><strong>#</strong></td>
      <td><strong>Usuario</strong></td>
      <td><strong>Rol</strong></td>
      <td><strong>Fecha Creada</strong></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng:repeat="e in clients | filter:search">
     <td>{{$index + 1}}</td>
     <td>{{e.username}}</td>
     <td>{{e.role.role}}</td>
     <td>{{e.created | date: yyyy-mm-dd}}</td>
     <td><button class="btn btn-danger" ng-click="deleteClient(e._id)">Borrar </button></td>
     <td><button class="btn btn-primary" ng-click="updateClient(e)">Editar </button></td>
   </tr>
 </tbody>
</table>
</div>
<!-- /.row -->
</div>
