<div class="animated fadeIn">
 <div id="alertArea"></div>

 <div class="row" ng-submit="saveClient()">

  <form name="clientForm" class="row row-separator">
    <div class="col-md-6 row-separator">
      <label for="username">Usuario:</label>
      <input type="text" id="username" class="form-control" ng-model="selectedClient.username" required>
    </div>

    <div class="col-md-6 row-separator">
     <label for="password">Contraseña:</label>
     <input type="password" id="password" class="form-control" ng-model="selectedClient.password" required>
   </div>

   <div class="col-md-6 row-separator">
    <label for="role">Role:</label>
    <select class="form-control" ng-model="selectedClient.role" ng-options="item.role for item in roles track by item.role" required>
      <option value="">Seleccione un rol {{optional ? '(optional)' : ''}}</option>
    </select>
  </div>

  <div class="col-md-6 row-separator" >
    <label for="role">Posicion de trabajo:</label>
    <select class="form-control" ng-model="selectedClient.job" ng-options="item.job as item.job for item in jobs" required> 
      <option value="">Seleccione una posicion de trabajo {{optional ? '(optional)' : ''}}</option>
    </select>
  </div>

  <div class="col-md-6 row-separator" ng-show="selectedClient.role.role === 'Sub-Admin'">
    <label for="role">Departamento:</label>
    <select class="form-control" ng-model="selectedClient.department" ng-options="item.department as item.department for item in departments">
      <option value="">Seleccione un departament {{optional ? '(optional)' : ''}}</option>
    </select>
  </div>

  <div class="col-md-12">
    <input type="submit" class="btn btn-success"/>
  </div>
</form>

<div class="input-group row-separator">
  <div class="input-group-addon"><i class="fa fa-search"></i></div>
  <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
</div>   

<table class="table table-hover">
  <thead>
    <tr>
      <td><strong>#</strong></td>
      <td><strong>Usuario</strong></td>
      <td><strong>Rol</strong></td>
      <td><strong>Posicion de trabajo</strong></td>
      <td><strong>Departamento</strong></td>
      <td><strong>Fecha Creada</strong></td>
      <td><strong>Acciones</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr ng:repeat="e in clients | filter:search">
     <td>{{$index + 1}}</td>
     <td>{{e.username}}</td>
     <td>{{e.role.role}}</td>
     <td>{{(e.job) ? e.job : 'N/A'}}</td>
     <td>{{(e.department) ? e.department : 'N/A'}}</td>
     <td>{{e.created | date: yyyy-mm-dd}}</td>
     <td>
       <i class="fa fa-trash" aria-hidden="true"  ng-click="deleteClient(e._id)"></i>
       <i class="fa fa-pencil" aria-hidden="true" style="margin-left:10px;" ng-click="updateClient(e)"></i>
     </td>
   </tr>
 </tbody>
</table>
</div>
<!-- /.row -->
</div>
