<div class="animated fadeIn">
 <div id="alertArea"></div>

 <div class="row" ng-controller="departmentsController" ng-submit="saveDepartment()">
  <form name="deptForm" class="form-group">
   <label for="department">Departamento:</label>
   <input type="text" id="department" class="form-control" ng-model="selectedDept.department" required>
   <br/>
   <input type="submit" class="btn btn-success"/>
 </form>

 <div class="input-group row-separator">
  <div class="input-group-addon"><i class="fa fa-search"></i></div>
  <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
</div>   

<table class="table table-hover">
  <thead>
    <tr>
     <td><strong>#</strong></td>
     <td><strong>Departamento</strong></td>
     <td><strong>Fecha Creada</strong></td>
     <td><strong>Acciones</strong></td>
   </tr>
 </thead>
 <tbody>
   <tr ng:repeat="e in departments | filter:search">
     <td>{{$index + 1}}</td>
     <td>{{e.department}}</td>
     <td>{{e.created | date: yyyy-mm-dd}}</td>
     <td>
       <i class="fa fa-trash" aria-hidden="true"  ng-click="deleteDepartment(e._id)"></i>
       <i class="fa fa-pencil" aria-hidden="true" style="margin-left:10px;" ng-click="updateDepartment(e._id)"></i>
     </td>
   </tr>
 </tbody>
</table>
</div>
<!-- /.row -->
</div>
