<div class="animated fadeIn">
 <div id="alertArea"></div>

 <div class="row" ng-submit="saveJob()">
  <form name="jobForm" class="form-group">
   <label for="job">Puestos o posiciones de trabajo:</label>
   <input type="text" id="job" class="form-control" ng-model="selectedJob.job" required>
   <br/>
     <button  class="btn btn-success" type="submit">
       <i class="fa fa-save" aria-hidden="true"/>  Guardar Posicion de Trabajo
     </button>
 </form>

 <div class="input-group row-separator">
  <div class="input-group-addon"><i class="fa fa-search"></i></div>
  <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
</div>   

<button type="button" class="btn btn-info row-separator" ng-click="newJob()">
 <i class="fa fa-plus" aria-hidden="true"/> Nueva posicion de trabajo
 </button>
<table class="table table-hover">
  <thead>
    <tr>
     <td><strong>#</strong></td>
     <td><strong>Posicion de Trabajo</strong></td>
     <td><strong>Fecha Creada</strong></td>
     <td><strong>Acciones</strong></td>
   </tr>
 </thead>
 <tbody>
   <tr ng:repeat="e in jobs | filter:search">
     <td>{{$index + 1}}</td>
     <td>{{e.job}}</td>
     <td>{{e.created | date: yyyy-mm-dd}}</td>
     <td>
       <i class="fa fa-trash" aria-hidden="true"  ng-click="deleteJob(e._id)"></i>
       <i class="fa fa-pencil" aria-hidden="true" style="margin-left:10px;" ng-click="updateJob(e._id)"></i>
     </td>
   </tr>
 </tbody>
</table>
</div>
<!-- /.row -->
</div>
