<div class="animated fadeIn">

  <div id="alertArea"></div>

  <div class="row" ng-controller="serviceController">
    <form name="servicesForm" class="form-group" ng-submit="saveService()">
     <label for="service">Servicio:</label>
     <input type="text" id="service" class="form-control" ng-model="selectedService.service" required>
     <br/>
     <select id="dept" name="dept" class="form-control" ng-model="selectedService.department" ng-options="item.department as item.department for item in departments" required>
      <option value="">Seleccione un departamento {{optional ? '(optional)' : ''}}</option>
    </select>
    <br/>
    <input type="submit" class="btn btn-success"/>
  </form>

  <div class="input-group row-separator">
    <div class="input-group-addon"><i class="fa fa-search"></i></div>
    <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
  </div>   

  <table class="table table-hover table-striped">
    <tbody>
      <tr>
       <td><strong>#</strong></td>
       <td><strong>Servicio</strong></td>
       <td><strong>Departamento</strong></td>
       <td><strong>Fecha Creada</strong></td>
       <td></td>
       <td></td>
     </tr>
     <tr ng:repeat="e in services | filter:search">
       <td>{{$index + 1}}</td>
       <td>{{e.service}}</td>
       <td>{{e.department}}</td>
       <td>{{e.created | date: yyyy-mm-dd}}</td>
       <td><button class="btn btn-danger" ng-click="deleteService(e._id)">Borrar </button></td>
       <td><button class="btn btn-primary" ng-click="updateService(e._id)">Editar </button></td>
     </tr>
   </tbody>
 </table>
</div>
<!-- /.row -->
</div>
